<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blogs</title>
    <style>
        .blog {
            padding: 20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top: 20px;
        }

    </style>
</head>
<body>

<div class="header">
    <h1>My Blogs</h1>
</div>

{% for blog in latest_article_list %}
<div class="blog">
    <div class="title">
        <a href="/blog/{{ blog.id }}"><h2>{{ blog.title }}</h2></a>
    </div>
    <div class="info">
        <span class="category" style="color: #ff9900;">{{ blog.classification.name }}</span>
        <span class="created" style="color: #6aa84f">{{ blog.publish_time|date:"Y-m-d H:i" }}</span>
    </div>
    <div class="summary">
        {{ blog.content|truncatewords:100 }}
    </div>
</div>
{% endfor %}

{% for classification in blog_in_classification %}
<div class="classification">
    <div class="class_title">
        <a href="cate/{{ classification.id }}">
        <h2>{{ classification.name }} {{ classification.class_count }}</h2>
        </a>
    </div>

</div>
{% endfor %}


</body>
</html>