{% extends "base.html" %}

{% block title %}

生活随笔_RickarD_文章列表

{% endblock %}

{% block seo %}
<meta name="description" content="生活随笔用于记录自己平时生活的体会，包括阅读，观影，运动等"/>
<meta name="keywords" content="随笔,读书,影评,运动"/>
{% endblock %}


{% block navibar %}
<nav class="navbar navbar-inverse" role="navigation" id="navibar">
    <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/blog/tech">技术博客</a></li>
        <li class="active"><a href="/blog/essay">生活随笔</a></li>
    </ul>
</nav>
{% endblock %}


{% block title_list %}
{% for blog in cat_blog %}
{% include "list_style.html" %}
{% empty %}
<h3>这个人好懒，一个字都没写</h3>
{% endfor %}
{% endblock %}


{% block pagenation %}
<ul class="pagination">
    {% if cat_blog.has_previous %}
    <li><a href="?page={{ latest_blog_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="active"><a>&laquo;</a></li>
    {% endif %}

    {% for p in cat_blog.paginator.page_range %}
    {% ifequal p cat_blog.number %}
    <li class="active"><a>{{p}}</a></li>
    {% else %}
    <li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
    <li>
        {% endifequal %}
        {% endfor %}
        {% if cat_blog.has_next %}
    <li><a href="?page={{ latest_blog_list.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="active"><a>&raquo;</a></li>
    {% endif %}
</ul>
{% endblock %}



{% block lastest_blog %}
{% for blog in essay_blogs %}
<li><a href="/blog/{{ blog.id }}" target=_blank>{{ blog.title }}</a></li>
{% endfor %}
{% endblock %}


{% block tags %}
<h5>
    {% include "tag_info.html" %}
</h5>
{% endblock %}

