<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test.html</title>


    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
</head>
<!--{% load static %}-->
<!--<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">-->
<!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
<!--<script src="/static/js/bootstrap/bootstrap.min.js"></script>-->


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="row">
        <!--<div class="col-lg-12 col-md-10 col-md-offset-1 col-sm-12">-->
        <div class="col-lg-12" remove_padding>
            <div id="head_img">
                <img class="img-responsive" src="/static/img/background.jpg"/>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-inverse" role="navigation" id="navibar" remove_padding>
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/geek">技术博客</a></li>
                    <li><a href="/essay">随笔</a></li>
                    <li><a href="/joke">瞎扯</a></li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="row">

    </div>

    <!--<div class="row">-->

    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-4">.col-md-4</div>-->
    <!--<div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>-->
    <!--<div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>-->
    <!--</div>-->


    <!--<div class="jumbotron">-->
        <!--<h1>我的第一个 Bootstrap 页面</h1>-->
        <!--<p>重置窗口大小，查看响应式效果！</p>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<h3>Column 1</h3>-->
            <!--<p>学的不仅是技术，更是梦想！</p>-->
            <!--<p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h3>Column 2</h3>-->
            <!--<p>学的不仅是技术，更是梦想！</p>-->
            <!--<p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h3>Column 3</h3>-->
            <!--<p>学的不仅是技术，更是梦想！</p>-->
            <!--<p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>-->
        <!--</div>-->
    <!--</div>-->
</div>




