<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test.html</title>


    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
</head>
    <!--{% load static %}-->
    <!--<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
    <!--<script src="/static/js/bootstrap/bootstrap.min.js"></script>-->


<!--<h2> {{ static_URL }}</h2>-->
<!--<h2> {{ static_dir }} </h2>-->
<!--<h2> {{ base_dir }}</h2>-->
<!--<h2> {{ staticfiles_dir }}</h2>-->
<img src="/static/img/water.jpg"/>
<div class="container">
  <div class="jumbotron">
    <h1>我的第一个 Bootstrap 页面</h1>
    <p>重置窗口大小，查看响应式效果！</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>学的不仅是技术，更是梦想！</p>
      <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>学的不仅是技术，更是梦想！</p>
      <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>学的不仅是技术，更是梦想！</p>
      <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
  </div>
</div>




